extends ../layout

block content
    div.form-container
        h3 login
        form(action='/login' method='post')
            div.form-input
                label(for='email') Email
                input(id='email' name='email')
            div.form-input
                label(for='password') Password
                input(id='password' name='password')
            div.form-buttons
                button.button.primary(type='submit') Save
        each message in errorMessages
            p= message